<table>
  <tr>
    <td class="label">Language:</td>
    <td>{{lang}}</td>
  </tr>

  <tr>
    <td class="label">Private:</td>
    <td>
	{{#private}} Yes {{/private}}
	{{^private}} No {{/private}}
   </td>
  </tr>
</table>

<div class="content">
  <pre><code>{{body}}</code></pre>
</div>
